<div class="col-md-4">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">EduPlan | Entrar</h3>
    </div>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="alert alert-error" role="alert" *ngIf="message">
        <strong>Email ou Senha inválidos</strong>
      </div>
      <div class="box-body">

        <div class="form-group col-md-12" [ngClass]="aplicaCssErro('email')">
          <label for="inputEmail">Email</label>
          <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="email@email.com"
            email>
          <small class="error" *ngIf="verificaValidTouched('email') && !verificaEmailInvalido()">Email é
            obrigatorio</small>
          <small class="error" *ngIf="verificaEmailInvalido()">Email inválido</small>
        </div>

        <div class="form-group col-md-12" [ngClass]="aplicaCssErro('password')">
          <label for="inputPassword">Senha</label>
          <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="123456"
            required>
          <small class="error" *ngIf="loginForm.get('password').errors && loginForm.get('password').touched">Password
            é obrigatorio</small>
        </div>

      </div>
      <div class="box-footer">
        <a href="#">Esqueçeu a senha?</a>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-info pull-right">Entrar</button>
      </div>
    </form>
  </div>
</div>