<div class="col-md-12">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Novo Plano de Ensino</h3>
    </div>
    <form class="form-horizontal" [formGroup]="planoForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body" style="overflow: auto; max-height: 650px; overflow-x: hidden;">

        <div class="col-sm-4" [ngClass]="aplicaCssErro('disciplina')">
          <label for="inputDisciplina">Disciplina</label>
          <select formControlName="disciplina" name="disciplina" id="inputDisciplina" class="form-control"
            (change)="changeField()">
            <option *ngFor="let li of listDisciplina" [ngValue]="li.nome">{{li.nome}}</option>
          </select>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('turno')">
          <label for="inputTurno">Turno</label>
          <select formControlName="turno" name="turno" class="form-control" id="inputTurno">
            <option value="Matutino">Matutino</option>
            <option value="Vespertino">Vespertino</option>
            <option value="Noturno">Noturno</option>
          </select>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('periodo')">
          <label for="inputPeriodo">Periodo</label>
          <select formControlName="periodo" name="periodo" class="form-control" id="inputPeriodo">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('ano')">
          <label for="inputAno">Ano</label>
          <input formControlName="ano" name="ano" class="form-control" id="inputAno">
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('semestre')">
          <label for="inputSemestre">Semestre</label>
          <select formControlName="semestre" name="semestre" class="form-control" id="inputSemestre">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>

      </div>
      <div class="box-footer">
        <button [routerLink]="['/plano-de-ensino-list']" routerLinkActive="router-link-active"
          class="btn btn-danger pull-left">Cancelar</button>
        <button type="submit" [disabled]="!planoForm.valid" class="btn btn-info pull-right"
          routerLinkActive="router-link-active">Salvar</button>
      </div>
    </form>
  </div>
</div>


<pre>{{ planoForm.value | json }}</pre>