<div class="col-md-10" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Novo Usuário</h3>
    </div>
    <form class="form-horizontal" [formGroup]="usuarioForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">

        <div class="col-sm-4" [ngClass]="aplicaCssErro('nome')">
          <label for="inputNome">Nome</label>
          <input type="text" formControlName="nome" autocomplete="off" name="nome" class="form-control" id="inputNome"
            placeholder="Nome completo">
          <small class="error" *ngIf="usuarioForm.get('nome').errors && usuarioForm.get('nome').touched">Campo
            obrigatório.</small>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('matricula')">
          <label for="inputMatricula">Matricula</label>
          <input type="text" formControlName="matricula" autocomplete="off" name="matricula" class="form-control"
            id="inputMatricula" placeholder="Matricula">
          <small class="error" *ngIf="usuarioForm.get('matricula').errors && usuarioForm.get('matricula').touched">Campo
            obrigatório.</small>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('email')">
          <label for="inputEmail">Email</label>
          <input type="email" formControlName="email" autocomplete="off" name="email" class="form-control"
            id="inputEmail" placeholder="Email">
          <small class="error" *ngIf="usuarioForm.get('email').errors && usuarioForm.get('email').touched">Campo
            obrigatório.</small>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('password')">
          <label for="inputPassword" *ngIf="id == undefined; else elseBlock">Senha</label>
          <ng-template #elseBlock>
            <label for="inputPassword">Nova Senha</label>
          </ng-template>
          <input type="password" formControlName="password" autocomplete="off" name="password" class="form-control"
            id="inputPassword" placeholder="Password">
          <small class="error" *ngIf="usuarioForm.get('password').errors && usuarioForm.get('password').touched">Campo
            obrigatório.</small>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('password1')">
          <label for="inputPassword1">Confirme a senha</label>
          <input type="password" formControlName="password1" autocomplete="off" name="password1" class="form-control"
            id="inputPassword1" placeholder="Repita a senha">
          <small class="error" *ngIf="usuarioForm.get('password1').errors && usuarioForm.get('password1').touched">Campo
            obrigatório.</small>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro('profile')">
          <label for="inputProfile">Perfil</label>
          <select formControlName="profile" class="form-control select2" name="profile" id="inputProfile"
            style="width: 100%;">
            <option value="ROLE_DIRETOR">Diretor</option>
            <option value="ROLE_DOCENTE">Docente</option>
          </select>
          <small class="error" *ngIf="usuarioForm.get('profile').errors && usuarioForm.get('profile').touched">Campo
            obrigatório.</small>
        </div>

      </div>
      <div class="box-footer">
        <button [routerLink]="['/user-list']" routerLinkActive="router-link-active"
          class="btn btn-danger pull-left">Cancelar</button>
        <button type="submit" [disabled]="!usuarioForm.valid" class="btn btn-info pull-right">Salvar</button>
      </div>
    </form>
  </div>
</div>