<div class="col-md-12" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Detalhes do Plano de Ensino</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body" style="overflow: auto; max-height: 670px; overflow-x: hidden;">

        <ul class="list-group list-group-unbordered">

          <li class="list-group-item">
            <b>Disciplina :</b> <span>{{planoDeEnsino.disciplina}}</span>
            <span class="pull-right">
              <b>Docente :</b> <span>{{planoDeEnsino?.user?.nome}}</span>
            </span>
          </li>

          <li class="list-group-item">
            <b>Data da criação :</b> <span>{{planoDeEnsino.data | date:'dd/MM/yyyy'}}</span>
            <span class="pull-right">
              <b>Turno :</b> <span>{{planoDeEnsino.turno}}</span>
            </span>
          </li>

          <li class="list-group-item">
            <b>Periodo :</b> <span>{{planoDeEnsino.periodo}}</span>
            <span class="pull-right">
              <b>Ano :</b> <span>{{planoDeEnsino.ano}}</span>
            </span>
          </li>

          <li class="list-group-item">
            <b>Semestre :</b> <span>{{planoDeEnsino.semestre}}</span>
            <span class="pull-right">
              <b>Carga Horaria Teorica :</b> <span>{{planoDeEnsino.chteorica}}</span>
            </span>
          </li>

          <li class="list-group-item">
            <b>Carga Horaria Total :</b> <span>{{planoDeEnsino.chtotal}}</span>
            <span class="pull-right">
              <b>Carga Horaria Pratica :</b> <span>{{planoDeEnsino.chpratica}}</span>
            </span>
          </li>

          <li class="list-group-item">
            <b>Ementa :</b> <span>{{planoDeEnsino.ementa}}</span>
          </li>

          <li class="list-group-item">
            <b>Objetivos Gerais :</b> <span>{{planoDeEnsino.objetivoGeral}}</span>
          </li>

          <li class="list-group-item">
            <b>Objetivos Especificos :</b> <span>{{planoDeEnsino.objetivoEspecifico}}</span>
          </li>

          <li class="list-group-item">
            <b>Habilidade e Competencias :</b> <span>{{planoDeEnsino.habilidadeCompetencias}}</span>
          </li>

          <li class="list-group-item">
            <b>Conteudo Programatico :</b> <span>{{planoDeEnsino.conteudoProgramatico}}</span>
          </li>

          <li class="list-group-item">
            <b>Procedimentos Didaticos :</b> <span>{{planoDeEnsino.procedimentosDidaticos}}</span>
          </li>

          <li class="list-group-item">
            <b>Atividade Integrativa :</b> <span>{{planoDeEnsino.atividadeIntegrativa}}</span>
          </li>

          <li class="list-group-item">
            <b>Primeira VA :</b> <span>{{planoDeEnsino.primeiraVA}}</span>
          </li>

          <li class="list-group-item">
            <b>Segunda VA :</b> <span>{{planoDeEnsino.segundaVA}}</span>
          </li>

          <li class="list-group-item">
            <b>Terceira VA :</b> <span>{{planoDeEnsino.terceiraVA}}</span>
          </li>

          <li class="list-group-item">
            <b>Bibliografia Basica :</b> <span>{{planoDeEnsino.bibliografiaBasica}}</span>
          </li>

          <li class="list-group-item">
            <b>Bibliografia Complementar :</b> <span>{{planoDeEnsino.bibliografiaComplementar}}</span>
          </li>

        </ul>

      </div>
      <div style="margin: 5px;">
        <button [routerLink]="['/plano-de-ensino-list']" routerLinkActive="router-link-active"
          class="btn btn-info pull-left">Voltar</button>
        <button class="btn btn-secondary pull-right" (click)="gerarPdf()">Gerar PDF</button>
      </div>
    </form>
  </div>
</div>