<div class="col-md-12" style="margin-left: 0%;">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Nova Disciplina</h3>
    </div>
    <form class="form-horizontal" [formGroup]="disciplinaForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>

      <div class="box-body" style="overflow: auto; max-height: 650px; overflow-x: hidden;">

        <div class="row">
          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('nome')">
            <label for="inputNome">Nome da Disciplina</label>
            <input type="text" formControlName="nome" autocomplete="off" name="nome" class="form-control"
              id="inputNome">
            <small class="error" *ngIf="disciplinaForm.get('nome').errors && disciplinaForm.get('nome').touched">Campo
              obrigatório.</small>
          </div>

          <div class="form-group col-md-2" [ngClass]="aplicaCssErro('chteorica')">
            <label for="inputChTeorica">Carga/H Teorica</label>
            <input type="number" formControlName="chteorica" name="chteorica" class="form-control" id="inputChTeorica">
            <small class="error"
              *ngIf="disciplinaForm.get('chteorica').errors && disciplinaForm.get('chteorica').touched">Campo
              obrigatório.</small>
          </div>

          <div class="form-group col-md-2" [ngClass]="aplicaCssErro('chpratica')">
            <label for="inputChPratica">Carga/H Pratica</label>
            <input type="number" formControlName="chpratica" name="chpratica" class="form-control" id="inputChPratica">
            <small class="error"
              *ngIf="disciplinaForm.get('chpratica').errors && disciplinaForm.get('chpratica').touched">Campo
              obrigatório.</small>
          </div>

          <div class="form-group col-md-2" [ngClass]="aplicaCssErro('chtotal')">
            <label for="inputChTotal">Carga/H Total</label>
            <input type="number" formControlName="chtotal" name="chtotal" class="form-control" id="inputChTotal">
            <small class="error"
              *ngIf="disciplinaForm.get('chtotal').errors && disciplinaForm.get('chtotal').touched">Campo obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('ementa')">
            <label for="inputEmenta">Ementa</label>
            <textarea formControlName="ementa" rows="3" name="ementa" class="form-control" id="inputEmenta">
                            </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('ementa').errors && disciplinaForm.get('ementa').touched">Campo obrigatório.
            </small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('objetivoGeral')">
            <label for="inputObjetivoGeral">Objetivo Geral</label>
            <textarea formControlName="objetivoGeral" rows="3" name="objetivoGeral" class="form-control"
              id="inputObjetivoGeral">
                          </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('objetivoGeral').errors && disciplinaForm.get('objetivoGeral').touched">Campo
              obrigatório.</small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('objetivoEspecifico')">
            <label for="inputObjetivoEspecifico">Objetivo Específico</label>
            <textarea formControlName="objetivoEspecifico" rows="3" name="objetivoEspecifico" class="form-control"
              id="inputObjetivoEspecifico">
                          </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('objetivoEspecifico').errors && disciplinaForm.get('objetivoEspecifico').touched">Campo
              obrigatório.</small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('habilidadeCompetencias')">
            <label for="inputHabilidadeCompetencias">Habilidade e
              Competências</label>
            <textarea formControlName="habilidadeCompetencias" rows="3" name="habilidadeCompetencias"
              class="form-control" id="inputHabilidadeCompetencias">
                            </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('habilidadeCompetencias').errors && disciplinaForm.get('habilidadeCompetencias').touched">Campo
              obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('conteudoProgramatico')">
            <label for="inputConteudoProgramatico">Conteúdo Programático</label>
            <textarea formControlName="conteudoProgramatico" rows="3" name="conteudoProgramatico" class="form-control"
              id="inputConteudoProgramatico">
                            </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('conteudoProgramatico').errors && disciplinaForm.get('conteudoProgramatico').touched">Campo
              obrigatório.
            </small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('procedimentosDidaticos')">
            <label for="inputProcedimentosDidaticos">Procedimentos
              Didáticos</label>
            <textarea formControlName="procedimentosDidaticos" rows="3" name="procedimentosDidaticos"
              class="form-control" id="inputProcedimentosDidaticos">
                              </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('procedimentosDidaticos').errors && disciplinaForm.get('procedimentosDidaticos').touched">Campo
              obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('atividadeIntegrativa')">
            <label for="inputAtividadeIntegrativa">Atividade Integrativa</label>
            <input formControlName="atividadeIntegrativa" name="atividadeIntegrativa" class="form-control"
              id="inputAtividadeIntegrativa">
            <small class="error"
              *ngIf="disciplinaForm.get('atividadeIntegrativa').errors && disciplinaForm.get('atividadeIntegrativa').touched">Campo
              obrigatório.
            </small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('primeiraVA')">
            <label for="inputPrimeiraVA">Primeira VA</label>
            <input type="text" formControlName="primeiraVA" name="primeiraVA" class="form-control" id="inputPrimeiraVA">
            <small class="error"
              *ngIf="disciplinaForm.get('primeiraVA').errors && disciplinaForm.get('primeiraVA').touched">Campo
              obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('segundaVA')">
            <label for="inputSegundaVA">Segunda VA</label>
            <input type="text" formControlName="segundaVA" name="segundaVA" class="form-control" id="inputSegundaVA">
            <small class="error"
              *ngIf="disciplinaForm.get('segundaVA').errors && disciplinaForm.get('segundaVA').touched">Campo
              obrigatório.
            </small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('terceiraVA')">
            <label for="inputTerceiraVA">Terceira VA</label>
            <input type="text" formControlName="terceiraVA" name="terceiraVA" class="form-control" id="inputTerceiraVA">
            <small class="error"
              *ngIf="disciplinaForm.get('terceiraVA').errors && disciplinaForm.get('terceiraVA').touched">Campo
              obrigatório.
            </small>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6" [ngClass]="aplicaCssErro('bibliografiaBasica')">
            <label for="inputCibliografiaBasica">Bibliografia Básica</label>
            <textarea formControlName="bibliografiaBasica" rows="3" name="bibliografiaBasica" class="form-control"
              id="inputCibliografiaBasica">
                              </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('bibliografiaBasica').errors && disciplinaForm.get('bibliografiaBasica').touched">Campo
              obrigatório.
            </small>
          </div>

          <div class="form-group col-md-5" [ngClass]="aplicaCssErro('bibliografiaComplementar')">
            <label for="inputBibliografiaComplementar">Bibliografia
              Complementar</label>
            <textarea formControlName="bibliografiaComplementar" rows="3" name="bibliografiaComplementar"
              class="form-control" id="inputBibliografiaComplementar">
                              </textarea>
            <small class="error"
              *ngIf="disciplinaForm.get('bibliografiaComplementar').errors && disciplinaForm.get('bibliografiaComplementar').touched">Campo
              obrigatório.
            </small>
          </div>
        </div>

      </div>

      <div class="box-footer">
        <button [routerLink]="['/disciplina-list']" routerLinkActive="router-link-active"
          class="btn btn-danger pull-left">Cancelar
        </button>
        <button type="submit" [disabled]="!disciplinaForm.valid" class="btn btn-info pull-right"
          routerLinkActive="router-link-active">Salvar
        </button>
      </div>
    </form>
  </div>
</div>